@use 'reset';
@use 'variables/global';

body {
    font-family: 'Intro', sans-serif;
}

* {
    &::-webkit-scrollbar {
        width: 6px; /* Ширина всего элемента навигации */
    }

    &::-webkit-scrollbar-track {
        background: var(--white); /* Цвет дорожки */
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--light-grey); /* Цвет бегунка */
        border: 2px solid var(--white);
    }
}

.app,
.app_modal,
.app_drawer {
    font: var(--font-h1);
}
