.title {
    color: var(--text);
}

.text {
    color: var(--grey-dark);
    white-space: pre-wrap;
}

.primary {
    .title {
        color: var(--dark);
    }
    .text {
        color: var(--dark);
    }
}

.error {
    .title {
        color: var(--red-light);
    }
    .text {
        color: var(--red-dark);
    }
}

.normal {
    .title {
        color: var(--grey-dark);
    }
    .text {
        color: var(--grey-dark);
    }
}

.heading {
    .text {
        color: var(--dark);
        text-transform: uppercase;
    }
}

.accent {
    .title {
        color: var(---grey-dark);
    }
    .text {
        font: var(--font-txt);
        color: var(--grey-dark);
    }
}

.inverted {
    .title {
        color: var(--inverted-primary-color);
    }

    .text {
        color: var(--inverted-secondary-color);
    }
}

.placeholder {
    .text {
        color: var(--placeholder);
        text-transform: uppercase;
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.size_xs {
    .title {
        font: var(--font-txt3);
    }
    .text {
        font: var(--font-txt3);
    }
}

.size_s {
    .title {
        font: var(--font-txt2);
    }
    .text {
        font: var(--font-txt2);
    }
}

.size_h3 {
    .title {
        font: var(--font-h3);
    }
    .text {
        font: var(--font-h3);
    }
}

.size_h4 {
    .title {
        font: var(--font-h4);
    }
    .text {
        font: var(--font-h4);
    }
}

.size_m {
    .title {
        font: var(--font-txt);
    }

    .text {
        font: var(--font-txt);
    }
}

.size_l {
    .title {
        font: var(--font-h1);
    }

    .text {
        font: var(--font-h1);
    }
}

.size_ph {
    font: var(--font-placeholder);
}

.size_hd {
    font: var(--font-title);
}

.bold {
    .title,
    .text {
        font-weight: 700;
    }
}
