.Button {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--text);
    padding: 6px 15px;

    .addonLeft,
    .addonRight {
        display: flex;
    }

    .addonLeft svg,
    .addonRight svg {
        color: var(--hint);
    }
}

.withAddon {
    padding: 0 16px;
}

.clear {
    display: flex;
    justify-content: center;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    color: var(--grey-dark);
    &:hover {
        opacity: 0.7;
        text-decoration: dashed underline;
        text-underline-offset: 4px;
    }
    .addonLeft {
        margin-right: 8px;
    }
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    border-radius: 100%;
    height: 40px;
    width: 40px;
    color: var(--white);
    padding: 0;
    &:hover {
        opacity: 0.7;
    }
}

.outline {
    border-radius: 34px;
    background: none;
    padding: 0;

    &:hover {
        border: 1px solid var(--accent);
    }

    &.normal {
        padding: 8px 0px 8px 14px;
        border: 1px solid var(--border);
        &:hover {
            opacity: 0.7;
        }
    }

    &.error {
        border: 1px solid var(--cancel);
    }

    &.success {
        border: 1px solid var(--save);
    }

    &.blue {
        color: var(--blue);
        &:hover {
            opacity: 0.7;
        }
    }
    .addonRight {
        margin-left: 8px;
    }
}

.filled {
    display: flex;
    justify-content: center;
    padding: 0;
    background: var(--purple-dark);
    border: 1px solid var(--light-grey);
    &.active {
        border: 2px solid var(--blue);
        background: var(--white);
    }
    &:hover {
        opacity: 0.7;
    }
}

.filledBlue {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 32px;
    width: 296px;
    height: 48px;
    &:hover {
        background-color: var(--blue-dark);
    }
}

.filledYellow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow);
    color: var(--black);
    border-radius: 32px;
    width: 296px;
    height: 48px;
    &:hover {
        color: var(--white);
    }
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.square {
    padding: 0;
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.size_h5 {
    font: var(--font-h5);
}

.size_m {
    font: var(--font-txt);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

.disabled {
    opacity: 0.5;
}

.fullWidth {
    width: 100%;
}
