.Sidebar {
    display: none;
    @media (max-width: 968px) {
        display: flex;
        padding: 24px 16px;
        position: fixed;
        width: 274px;
        background-color: var(--white);
        top: 0;
        right: 0;
        height: 100%;
        z-index: 10;
        &__button {
            margin-top: auto;
        }
    }
}
