.ParcelTrack {
    padding: 31px 40px 32px 40px;
    background-color: var(--yellow);
    width: 360px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px #00000014;
    @media (max-width: 968px) {
        padding: 23px 16px 24px 16px;
        width: 328px;
    }
}
