.InputWrapper {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 8px 16px;
    height: 38px;
    width: 100%;
    border: 1px solid var(--purple);
    background-color: var(--white);
}

.addonLeft,
.addonRight {
    display: flex;
    color: var(--light-grey);
}

.withAddonLeft {
    padding-left: 8px;
}

.withAddonRight {
    padding-right: 8px;
}

.focused {
    &.primary {
        border: 1px solid var(--blue);
    }
    &.accent {
        border-bottom: 2px solid var(--blue);
    }
    .addonLeft svg,
    .addonRight svg {
        color: var(--blue);
    }
}

.readonly {
    opacity: 0.7;
}

.input {
    border: none;
    outline: none;
    width: 100%;
    color: var(--dark);
    text-shadow: 0 0 0 var(--primary-color);
    background: none;
    font: var(--font-txt);

    &::placeholder {
        color: var(--grey-dark);
    }
}

.s {
    height: 32px;
}

.m {
    height: 40px;
    width: 184px;
    font: var(--font-txt2);
    color: #1d253c;
}

.l {
    height: 44px;
}

.accent {
    padding: 0;
    border: 0;
    border-bottom: 2px solid #2b6bf329;
    border-radius: 0;
    width: 256px;
    height: 26px;
    .focused {
        border-bottom: 2px solid var(--blue);
    }
}

.filled {
    border: 0;
    border-radius: 4px;
    background-color: var(--white);
    width: 280px;
    height: 40px;
}
