.Navbar {
    &__desktop {
        display: none;
        @media (min-width: 968px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: var(--navbar-height);
            background-color: var(--light-purple);
            padding: 0 32px;
            border-bottom: 1px solid var(--light-grey);
        }
    }

    &__mobile {
        display: none;
        @media (max-width: 967px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: var(--navbar-height);
            background-color: var(--light-purple);
            padding: 0 16px;
            width: 100%;
            border-bottom: 1px solid var(--light-grey);
        }
        &_btn {
            position: relative;
            z-index: 11;
        }
    }
}
