.Flex {
    display: flex;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyCenter {
    justify-content: center;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyBetween {
    justify-content: space-between;
}

.alignStart {
    align-items: start;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: flex-end;
}

.directionRow {
    flex-direction: row;
}

.directionColumn {
    flex-direction: column;
}

.gap4 {
    gap: 4px;
}

.gap7 {
    gap: 7px;
}

.gap8 {
    gap: 8px;
}

.gap9 {
    gap: 9px;
}

.gap12 {
    gap: 12px;
}

.gap16 {
    gap: 16px;
}

.gap17 {
    gap: 17px;
}

.gap20 {
    gap: 20px;
}

.gap21 {
    gap: 21px;
}

.gap22 {
    gap: 22px;
}

.gap24 {
    gap: 24px;
}

.gap29 {
    gap: 29px;
}

.gap30 {
    gap: 30px;
}

.gap31 {
    gap: 30px;
}

.gap34 {
    gap: 31px;
}

.gap36 {
    gap: 36px;
}

.gap37 {
    gap: 37px;
}

.gap39 {
    gap: 39px;
}

.gap40 {
    gap: 40px;
}

.gap48 {
    gap: 48px;
}

.gap50 {
    gap: 50px;
}

.gap66 {
    gap: 66px;
}

.gap72 {
    gap: 72px;
}

.gap80 {
    gap: 80px;
}

.max {
    width: 100%;
}

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}
