.OurParters {
    position: relative;
    top: -25px;
    width: 100%;
    overflow: hidden;
    &__content {
        @media (max-width: 968px) {
            gap: 26px;
            padding-bottom: 136px;
        }
    }
    &__divider {
        height: 32px;
        &_line {
            width: 100%;
            height: 2px;
            background-color: var(--light-grey);
        }
    }
    &__text {
        padding-top: 80px;
    }
    &__btn {
        position: absolute;
        top: 112px;
        right: 103px;
        display: flex;
        align-items: center;
        gap: 9px;
        @media (max-width: 968px) {
            display: flex;
            align-items: center;
            justify-content: center;
            top: 300px;
            right: 50%;
            transform: translateX(50%);
            width: 328px;
        }
    }
    &__logo {
        padding: 0 150px 53px 112px;
    }
}
