.TextSection {
    position: relative;
    top: -16px;

    &__text {
        position: relative;
        padding: 86px 103px 84px 103px;
        overflow: hidden;
        @media (max-width: 968px) {
            padding: 54px 16px 48px 16px;
        }
    }

    &__btn {
        width: 25px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        background-color: var(--purple);
        border-radius: 4px;

        &_point {
            background-color: var(--white);
            border-radius: 50%;
            width: 5px;
            height: 5px;
        }
    }

    &__wrapper {
        display: inline-block;
        top: -2px;
        position: relative;
    }
}
